<!DOCTYPE html>
<html>
    <head>
        <title>Kamery</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./static/css/main.css">
    </head>

    <body>
        <nav>
            <div class="wrapper">
                <a href="#"><img id="nav-logo" src="./static/img/logo.png"></a>

                <div id="menu-items">
                    <a href="#" class="menu-item menu-item-active"> <div>Kamery</div> </a>
                    <a href="#" class="menu-item"> <div>Raporty</div> </a>
                    <a href="#" class="menu-item"> <div>Ustawienia</div> </a>
                </div>

                <div id="menu-right">
                    <a href="#" id="profile-name">Grzegorz Stark</a>
                    <img src="./static/img/profile.png" id="profile-pic">
                    <a id="notifications-btn" href="#"><div>6</div></a>
                </div>
            </div>
        </nav>
    </body>
</html>