<!DOCTYPE html>
<html>
    <head>
        <title>Zaloguj się do systemu Camseq</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/css/main.css">
        <link rel="stylesheet" href="./static/css/login.css">
    </head>

    <body>
        <div id="login-container">
            <div id="login-window">
                <form id="login-inner-container" action="/login" method="post">
                    <img src="./static/img/logo.png" id="login-window-logo">
                    <div id="login-window-title">Logowanie użytkownika</div>

                    <div class="login-input-container">
                        <i class="fas fa-user"></i>
                        <input type="text" name="login" placeholder="Nazwa użytkownika" id="login">
                    </div>

                    <div class="login-input-container">
                        <i class="fas fa-key"></i>
                        <input type="password" name="password" placeholder="Hasło" id="password">
                    </div>

                    <input type="submit" name="login-btn" id="login-btn" value="Zaloguj">
                    <a href="/">Powrót do strony głównej</a>
                </form>
            </div>
        </div>
    </body>
</html>