<!DOCTYPE html>
<html>
    <head>
        <title>Camseq Public</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
        <link rel="stylesheet" href="./static/css/main.css">
        <link rel="stylesheet" href="./static/css/public.css">
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    </head>

    <body>

        <nav>
            <div class="wrapper">
                <a href="#"><img id="nav-logo" src="./static/img/logo.png"></a>
                <span id="public-badge">Public</span>

                <a id="go-to-camseq" href="#">Przejdź do <b>Camseq Private</b></a>
            </div>
        </nav>

        <div id="mapid"></div>

        <script src="./static/js/leaflet-heat.js"></script>
        <script src="./static/js/public.js"></script>
    </body>
</html>